<template name="eventtable">
  <table class="table">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Date/Time
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                 {{#if Template.subscriptionsReady}}
                {{#each getData}}
                      {{>eventRow}}

                    {{/each}}
                {{/if}}

                </tbody>
            </table>
</template>


<template name="eventRow">
    <tr class="{{getRowClass Severity}}" style="cursor:pointer">
        <td>
            {{Case_Number}}
        </td>
        <td>
                             {{Date_Time_Reported}}
                        </td>
                        <td>
                           {{General_Location}}
                        </td>
                        <td>
                           {{Nature_Classification}}
                        </td>
                    </tr>
</template>
