<template name="form">
<form id="filter-form">
	    <div class="form-group">
	     <div class="row">
		<div class="col-md-12">
		<label for="myInput">University</label><br>
		<select id="university" class="btn btn-default dropdown-toggle">

	    		<option value="0" {{syracuseSelected}}>Syracuse University</option>
	    		<option value="1" {{emorySelected}}>Emory University</option>
                <option value="2" {{riceSelected}}>Rice University</option>
                <option value="3" {{georgiatechSelected}}>Georgia Institute of Technology</option>
	    		<option value="4" {{ubuffaloSelected}}>University at Buffalo</option>
                <option value="5" {{uhunterSelected}}>Hunter College</option>
		</select>
        <select id="isCity" class="btn btn-default dropdown-toggle">
                  <option value="0" {{campusSelected}}>Campus Crime</option>
                <option value="1" {{citySelected}}>City Crime</option>

               </select>
		</div>
	     </div>
		 <div class="row">
		<div class="col-md-6">
        <label for="myInput">Select Date Range</label><br>
		  <input id="daterange" />
		</div>
        </div>
		 <div class="row">
		<div class="col-md-12">

		<label for="myInput">Severity Level</label><br>
		<select id="severity" class="btn btn-default dropdown-toggle">
	    		<option value="10" selected="selected">Any</option>
	    		<option value="0">Low</option>
			<option value="1">Medium</option>
			<option value="2">High</option>

		</select>
		</div>
	     </div>

	    </div>
        <button  type="submit" class="btn btn-danger reset" style="background-color:#303030">Reset Subscription</button>

	  </form>
		<div style="height:250px;width:450px;overflow:auto">
		<table class="table">
			<thead>
				<tr>
					<th>
						Category
					</th>
					<th>
						Tips
					</th>
				</tr>
			</thead>
			<tbody>
			{{#each getTips}}
						{{>tipsRow}}
					{{/each}}

			</tbody>
		</table>
	</div>

</template>


<template name="tipsRow">
	<tr>
		<td>
			{{DescriptionCategory}}
		</td>
		<td>
			{{tips}}
		</td>
	</tr>
</template>
